Repository skillzl/todo-application: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

xmas update
  .prettierrc.json
  .vim/coc-settings.json
  build/asset-manifest.json
  build/favicon.ico
  build/index.html
  build/logo.png
  build/manifest.json
  build/robots.txt
  build/static/css/main.23623bde.css
  build/static/css/main.23623bde.css.map
  build/static/js/787.5e4e84a8.chunk.js
  build/static/js/787.5e4e84a8.chunk.js.map
  build/static/js/main.2c44e517.js
  build/static/js/main.2c44e517.js.LICENSE.txt
  build/static/js/main.2c44e517.js.map
  package-lock.json
  package.json
  public/index.html
  src/App.js
  src/components/Lightrope.js
  src/components/Lightrope.scss
Due: prettier --write, eslint --cache --fix

build fail
  .gitignore
Due: none

Create vercel.json
  vercel.json
Due: prettier --write

form modules fix
  components/TodoForm/form.module.css
  components/TodoItem/item.module.css
Due: none

vercel scripts
  vercel.json
Due: prettier --write

babel core build
  package-lock.json
  package.json
Due: prettier --write

📌 chore: defaultProps
  README.md
Due: prettier --write

⭐ change: license copyright info
  LICENSE
Due: none

📌 readme: info update
  README.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,json,md}) or (any of: src/**/**.{css,scss})
  eslint --cache --fix: any of: src/**/*.{js,jsx}
